/* Geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s ease all;
    /* outline: 1px solid red; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    /* Paleta de cores */
    --branco: #fff;
    --branco-opaco: #ffffff2f;
    --preto: #000;
    --cinza-texto: #0000008a;
    --cinza-claro-texto: #ffffffa1;
    --cinza-claro-texto-hover: #ffffffd5;
    --azul: #2378e8;
    --azul-opaco: #2361e831;
    --degrade-azul: linear-gradient(100deg, rgba(36, 97, 231, 1) 0%, rgba(30, 65, 178, 1) 100%);
    --fundo-cinza: #F9FAFB;
    --verde: #23C55E;
    --verde-hover: #16A34A;
    --roxo: #9739ED;
    --azul-claro: #a6ceff;
    --azul-claro-opaco: #a6ceff2a;

    /* Utilizaveis */
    --border-radius: 1rem;
    --blur: blur(5px);
    --sombra-texto: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 6rem 1rem;
}

body {
    background-color: var(--branco);
}

section {
    scroll-margin-top: 7rem;
}

#btn-zap {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    right: 2rem;
    bottom: 2rem;
    font-size: 3rem;
    color: var(--branco);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--verde);
    animation: balancar .8s infinite;
    border: .5rem solid var(--branco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 700;

    &:hover {
        background-color: var(--verde-hover);
    }
}

@keyframes balancar {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.titulo {
    font-size: 3rem;
    color: var(--preto);
}

.subtitulo {
    font-size: 2rem;
    width: 70%;
    text-align: center;
    color: var(--cinza-texto);
}

/* Header */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 900;

    & .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
            width: 160px;
            height: 40px;
        }

        & nav {
            display: flex;
            align-items: center;
            justify-self: center;
            gap: 3rem;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                padding-bottom: .2rem;
                text-decoration: none;
                color: var(--branco);
                font-size: 1.5rem;
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    transform: translate(-50% -50%);
                    background-color: var(--branco);
                    height: .1rem;
                    width: 0%;
                    transition: .3s ease all;
                }

                &::after {
                    left: 50%;
                }

                &::before {
                    right: 50%;
                }

                &:hover::after,
                &:hover::before {
                    width: 50%;
                }
            }

            & .mobile {
                display: none;
            }
        }

        & #app,
        #boleto {
            padding: 1rem 2rem;
            border-radius: 1rem;

            &::after,
            &::before {
                display: none;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        & #app {
            background-color: var(--verde);
        }

        & #boleto {
            background-color: rgb(46, 76, 151);
        }

        & #btn-mobile,
        #overlay,
        #btn-fechar-menu {
            display: none;
        }
    }
}

/* Hero */

#hero {
    width: 100%;
    padding-top: 7rem;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    & .interface {
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 2rem;


        & .internet {
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--azul-claro);
            font-weight: bold;
            background-color: var(--azul-claro-opaco);
            backdrop-filter: blur(2px);
            width: max-content;
            font-size: 1.5rem;
            border: 1px solid var(--azul-claro);
        }

        & h1 {
            color: var(--branco);
            font-size: 7rem;
            line-height: .8;
            text-shadow: var(--sombra-texto);

            & span {
                color: var(--azul);
            }
        }

        & h2 {
            color: var(--branco);
            font-size: 3rem;
            text-shadow: var(--sombra-texto);
        }

        & .cards {
            display: flex;
            justify-content: left;
            align-items: center;
            width: max-content;
            gap: 1.5rem;

            & p {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                border-radius: 2rem;
                color: var(--branco);
                background-color: var(--branco-opaco);
                border: 1px solid var(--branco);
                backdrop-filter: var(--blur);
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
            }
        }

        & nav {
            display: flex;
            justify-content: left;
            align-items: center;
            width: max-content;
            gap: 1.5rem;

            & .fale-conosco,
            .planos {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem 2rem;
                font-size: 2rem;
                text-decoration: none;
                color: var(--branco);
                border-radius: 1rem;

                &:hover {
                    transform: scale(1.05);
                }
            }

            & .fale-conosco {
                background-color: var(--verde);
                border: 1px solid transparent;
            }

            & .planos {
                background-color: var(--branco-opaco);
                border: 1px solid var(--branco);
                backdrop-filter: var(--blur);

            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/img-hero.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(.4);
        z-index: -1;
        transition: background-image 0.2s ease-in-out;
    }

    & #seta-baixo {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50% -50%);
        font-size: 3rem;
        color: var(--branco);
        animation: pular 1s infinite;
    }
}

@keyframes pular {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-.6rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

/* Planos */

#planos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-cinza);

    & .interface {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        & .container-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            & article {
                background-color: var(--branco);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                border-radius: 2rem;
                height: 50rem;
                position: relative;

                & .txt-preco {
                    background: var(--degrade-azul);
                    padding: 5rem 0;
                    height: 30%;
                    border-radius: 2rem 2rem 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1rem;

                    & .plano,
                    .preco,
                    .mega {
                        font-size: 2rem;
                        color: var(--branco);
                        width: 100%;
                        text-align: center;
                    }

                    & .plano {
                        font-size: 2.3rem;

                        & #start,
                        #turbo,
                        #ultra {
                            font-size: 3rem;
                            font-weight: bold;
                        }
                    }

                    & .mega {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                    }

                    & .preco {
                        font-size: 3.2rem;
                        font-weight: bold;

                        & span {
                            font-weight: normal;
                            font-size: 1.5rem;
                        }
                    }
                }

                & .beneficios {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    justify-content: space-between;
                    padding: 1.5rem;
                    height: 70%;

                    & .info {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 1rem;

                        & p {
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            gap: 1rem;

                            & span {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                & img {
                                    width: 100px;
                                    height: 15px;
                                }
                            }
                        }

                        & i {
                            color: rgb(82, 213, 82);
                        }
                    }

                    & a {
                        background: var(--degrade-azul);
                        border-radius: 1rem;
                        padding: 1rem 2rem;
                        width: 100%;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        font-size: 1.8rem;

                        &:hover {
                            transform: scale(1.03);
                            ;
                        }
                    }
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            & .popular {
                transform: scale(1.05);
                border-radius: 2.5rem;
                border: .4rem solid #9EBEF8;

                & .tag {
                    position: absolute;
                    top: -5%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #3980F5;
                    z-index: 100;
                    padding: 1rem 1.5rem;
                    color: var(--branco);
                    font-size: 1.5rem;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 2rem;
                }

                &:hover {
                    transform: scale(1.08);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
                }
            }
        }

        & .duvidas {
            font-size: 1.7rem;
        }

        & .btn-falar {
            background-color: var(--verde);
            border-radius: var(--border-radius);
            padding: 1.5rem 6rem;
            text-decoration: none;
            color: var(--branco);
            text-align: center;
            font-size: 1.8rem;

            &:hover {
                transform: scale(1.05);
                background-color: var(--verde-hover);
            }
        }

    }
}

/* Carrossel */
#carrossel {
    & .interface {
        padding-bottom: 0;
    }

    & .swiper {
        position: relative;
        width: 100%;
        height: 53rem;
        border-radius: 2rem;
        overflow: hidden;

        & .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .swiper-pagination-bullet {
            width: 1.5rem;
            height: 1.5rem;
            background-color: var(--branco);
        }

        & .swiper-pagination-bullet-active {
            background-color: var(--branco);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            pointer-events: none;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
            z-index: 5;
        }
    }
}

/* Vantagens */

#vantagens {
    background-color: var(--branco);

    & .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;

        & .container-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5rem;

            & article {
                background-color: var(--branco);
                border-radius: var(--border-radius);
                width: 100%;
                padding: 2rem;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                border: 1px solid rgb(231, 231, 231);

                & i {
                    background: var(--degrade-azul);
                    padding: 1rem;
                    border-radius: 1rem;
                    color: var(--branco);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5rem;
                    height: 5rem;
                    font-size: 2.5rem;
                }

                & h3 {
                    font-size: 1.8rem;
                }

                & p {
                    font-size: 1.5rem;
                }

                &:hover {
                    transform: translateY(-10px) scale(1.05);
                    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);

                    & i {
                        transform: scale(1.15);
                    }

                    & h3 {
                        color: var(--azul);
                    }
                }
            }

            & #propaganda {
                grid-column: span 3;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                background: var(--degrade-azul);
                color: var(--branco);
                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;
                border-radius: var(--border-radius);
                width: 100%;
                padding: 4rem;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

                & h3 {
                    font-size: 3rem;
                }

                & p {
                    font-size: 1.8rem;
                    width: 50%;
                    color: var(--cinza-claro-texto);
                    text-align: center;
                }

                & a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.5rem;
                    background-color: var(--branco);
                    padding: 2rem 5rem;
                    border-radius: var(--border-radius);
                    color: var(--azul);

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

/* Contato */

#contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-cinza);

    & .interface {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

        & .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            & h2 {
                font-size: 2rem;
                color: var(--preto);
            }

            & .mensagem {
                background-color: var(--azul-claro-opaco);
                border-radius: var(--border-radius);
                width: 50%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;

                & form {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 100%;
                    gap: 1.5rem;

                    & .grid2 {
                        grid-column: span 2;
                    }

                    & .form-group {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        flex-direction: column;
                        gap: 0.5rem;

                        .erro {
                            color: #d50000;
                            font-size: 1.5rem;
                            margin-bottom: 4px;
                        }

                        input.erro-borda,
                        textarea.erro-borda {
                            border: 1px solid #d50000;
                        }


                        & label {
                            color: var(--preto);
                            font-size: 1.5rem;
                        }

                        & input {
                            border-radius: var(--border-radius);
                            border: 1px solid rgb(187, 187, 187);
                            padding: 1rem;
                            width: 100%;
                        }

                        & textarea {
                            border-radius: var(--border-radius);
                            border: 1px solid rgb(187, 187, 187);
                            padding: 1rem;
                            width: 100%;
                            height: 20rem;
                            resize: none;
                        }
                    }

                    & button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                        background: var(--degrade-azul);
                        border-radius: 1rem;
                        padding: 1rem 2rem;
                        width: 100%;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        font-size: 1.8rem;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.01);
                        }
                    }
                }
            }

            & .informacoes {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-direction: column;
                gap: 1rem;

                & article {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    background-color: var(--branco);
                    padding: 1rem;
                    border-radius: var(--border-radius);
                    gap: 1rem;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

                    & i {
                        width: 4rem;
                        height: 4rem;
                        border-radius: var(--border-radius);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                    }

                    & div {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        & h3 {
                            font-size: 1.5rem;
                            color: var(--preto);
                        }

                        & p {
                            font-size: 1.5rem;
                            color: var(--cinza-texto);
                        }
                    }

                    & .fa-phone {
                        background-color: #4EA74D;
                        color: var(--branco);
                    }

                    & .fa-envelope {
                        background-color: #2868EC;
                        color: var(--branco);
                    }

                    & .fa-location-dot {
                        background-color: #9A69EC;
                        color: var(--branco);
                    }
                }

                & iframe {
                    border-radius: var(--border-radius);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

/* Footer */

footer {
    background-color: #18212F;
    display: flex;
    justify-content: center;
    align-items: center;

    & .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        padding: 3rem 0rem;

        & #termos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & a {
                text-decoration: none;
            }
        }

        & #barra {
            height: 1px;
            width: 70%;
            background-color: var(--branco-opaco);
        }

        & p {
            color: var(--cinza-claro-texto);
            text-align: center;
            font-size: 1.4rem;
        }

        & a {
            color: var(--cinza-claro-texto);
            font-size: 1.4rem;

            &:hover {
                color: var(--cinza-claro-texto-hover);
            }
        }

        & nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}

/* Responsividade */
/* Celular */
@media screen and (max-width: 767px) {

    /* Geral */
    .titulo {
        font-size: 2.5rem;
        text-align: center;
    }

    .subtitulo {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    /* Header */
    header {
        & .interface {
            & .btn-container {
                display: none;
            }

            & #menu {
                position: fixed;
                right: -100%;
                top: 0;
                background: #18212F;
                height: 100dvh;
                width: 80%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                z-index: 1000;

                & a {
                    font-size: 2.5rem;
                }

                & .mobile {
                    display: flex;
                    width: 100%;
                }

                & #btn-fechar-menu {
                    display: block;
                    position: absolute;
                    top: 1rem;
                    left: 2rem;
                    background-color: transparent;
                    border: none;
                    color: var(--branco);
                    font-size: 4rem;
                }

                &.ativo {
                    right: 0;
                }
            }

            & #btn-mobile {
                display: block;
                font-size: 3.5rem;
                background-color: transparent;
                border: none;
                color: var(--branco);
            }

            & #overlay {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: 0;
                width: 100%;
                height: 100dvh;
                background-color: #0000006e;
                z-index: 800;

                &.ativo {
                    visibility: visible;
                }
            }
        }
    }

    /* Hero */
    #hero {
        height: auto;
        min-height: 100dvh;

        & .interface {
            justify-content: center;
            align-items: center;

            & h1 {
                font-size: 5rem;
                text-align: center;
            }

            & h2 {
                font-size: 2rem;
                text-align: center;
            }

            & .cards {
                flex-direction: column;
                width: 100%;

                & p {
                    width: 100%;
                }
            }

            & nav {
                width: 100%;

                & .fale-conosco,
                .planos {
                    width: 50%;
                    font-size: 1.5rem;
                }
            }
        }
    }

    /* Planos */
    #planos {
        & .interface {
            & .container-cards {
                padding: 2.5rem 0;
                overflow-x: auto;
                grid-auto-flow: column;
                grid-auto-columns: 80%;
                grid-template-columns: none;

                & article {
                    &:hover {
                        transform: none;
                    }
                }

                & .popular {
                    transform: none;

                    &:hover {
                        transform: none;
                    }
                }
            }

            & .duvidas {
                text-align: center;
            }
        }
    }

    /* Vantagens */
    #vantagens {
        & .interface {
            & .container-cards {
                gap: 1rem;
                grid-template-columns: repeat(2, 1fr);

                & #propaganda {
                    grid-column: span 2;

                    & h3 {
                        text-align: center;
                    }

                    & p,
                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    /* Contato */
    #contato {
        & .interface {
            & .container {
                flex-direction: column-reverse;

                & .mensagem,
                .informacoes {
                    width: 100%;
                }

                & .informacoes {
                    & article {
                        & i {
                            min-width: 4rem;
                            min-height: 4rem;
                        }
                    }
                }
            }
        }
    }

    /* Footer */
    footer {
        & .interface {
            & #termos {
                gap: 2rem;
                flex-direction: column;
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {}