/* Geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s ease all;
    /* outline: 1px solid red; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    /* Paleta de cores */
    --branco: #f3f3f3;
    --branco-azulado: #e2e8ee;
    --preto: #101010;
    --preto-opaco: #000000cb;
    --branco-transparente: #ede7d92c;
    --cinza: #A49694;
    --azul-escuro: #011936;
    --azul-escuro-transparente: #0119366a;
    --azul-claro: #579AF7;
    --azul-claro-transparente: #087da737;
    --azul-ciano: #05B2DC;
    /* Paleta de cores */

    /* Cores de fontes */
    --fonte-branco: #ffffff;
    --fonte-azul-claro: #087CA7;
    --degrade-azul: linear-gradient(100deg, rgba(36, 97, 231, 1) 0%, rgba(30, 65, 178, 1) 100%);
    /* Cores de fontes */

    --verde-zap: rgb(100, 175, 100);

}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 6rem 1rem;
}

body {
    background-color: var(--branco);
}

section {
    scroll-margin-top: 7rem;
}

#btn-zap {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    right: 2rem;
    bottom: 2rem;
    font-size: 3rem;
    color: var(--branco);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--verde-zap);
    animation: balancar .8s infinite;
    border: .5rem solid var(--branco);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 700;
}

@keyframes balancar {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.titulo {
    font-size: 3rem;
    color: var(--preto);
}

.subtitulo {
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    color: var(--preto-opaco);
}

/* Header */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 900;

    & .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img {
            width: 160px;
            height: 40px;
        }

        & nav {
            display: flex;
            align-items: center;
            justify-self: center;
            gap: 1rem;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                padding-bottom: .2rem;
                text-decoration: none;
                color: var(--branco);
                font-size: 1.5rem;
                position: relative;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    transform: translate(-50% -50%);
                    background-color: var(--branco);
                    height: .1rem;
                    width: 0%;
                    transition: .3s ease all;
                }

                &::after {
                    left: 50%;
                }

                &::before {
                    right: 50%;
                }

                &:hover::after,
                &:hover::before {
                    width: 50%;
                }
            }

            & .whats,
            .boleto {
                padding: 1rem 2rem;
                border-radius: 1rem;

                &::after,
                &::before {
                    display: none;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

            & .whats {
                background-color: var(--verde-zap);
            }

            & .boleto {
                background-color: rgb(46, 76, 151);
            }
        }
    }
}


/* Hero */

#hero {
    width: 100%;
    padding-top: 7rem;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    & .interface {
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 2rem;


        & .internet {
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--azul-claro);
            font-weight: bold;
            background-color: var(--azul-claro-transparente);
            backdrop-filter: blur(2px);
            width: max-content;
            font-size: 1.5rem;
            border: 1px solid var(--azul-claro);
        }

        & h1 {
            color: var(--fonte-branco);
            font-size: 7rem;
            line-height: .8;

            & span {
                color: var(--azul-claro);
            }
        }

        & h2 {
            color: var(--fonte-branco);
            font-size: 3rem;
        }

        & .cards {
            display: flex;
            justify-content: left;
            align-items: center;
            width: max-content;
            gap: 1.5rem;

            & p {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                border-radius: 2rem;
                color: var(--fonte-branco);
                background-color: var(--branco-transparente);
                border: 1px solid var(--branco);
                backdrop-filter: blur(2px);
                padding: 0.5rem 1rem;
                font-size: 1.5rem;
            }
        }

        & nav {
            display: flex;
            justify-content: left;
            align-items: center;
            width: max-content;
            gap: 1.5rem;

            & .fale-conosco,
            .planos {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem 2rem;
                font-size: 2rem;
                text-decoration: none;
                color: var(--fonte-branco);
                border-radius: 1rem;

                &:hover {
                    transform: scale(1.05);
                }
            }

            & .fale-conosco {
                background-color: rgb(100, 175, 100);
                border: 1px solid transparent;
            }

            & .planos {
                background-color: var(--branco-transparente);
                border: 1px solid var(--branco);
                backdrop-filter: blur(2px);

            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/img-hero.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(.4);
        z-index: -1;
    }

    & #seta-baixo {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50% -50%);
        font-size: 3rem;
        color: var(--branco);
        animation: pular 1s infinite;
    }
}

@keyframes pular {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-.6rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

/* Planos */

#planos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco-azulado);

    & .interface {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        & .container-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            & article {
                background-color: white;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
                border-radius: 2rem;
                height: 45rem;

                & .preco {
                    background-color: var(--azul-claro);
                    padding: 2rem;
                    border-radius: 2rem 2rem 0 0;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    & .plano {
                        font-size: 1.7rem;
                        color: white;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;
                    }

                    & .preco {
                        font-size: 1.7rem;
                        color: white;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;

                        & span {
                            font-weight: normal;
                        }
                    }

                    & .mega {
                        font-size: 1.7rem;
                        color: white;
                        font-weight: bold;
                        width: 100%;
                        text-align: center;


                    }
                }

                & .beneficios {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    justify-content: space-between;
                    padding: 1.5rem;
                    height: 75%;

                    & .info {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 1rem;

                        & p {
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            gap: 1rem;
                        }

                        & i {
                            color: rgb(82, 213, 82);
                        }
                    }

                    & a {
                        background-color: rgb(82, 213, 82);
                        border-radius: 1rem;
                        padding: 1rem 2rem;
                        width: 100%;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        font-size: 1.8rem;

                        &:hover {
                            transform: scale(1.03);
                            background-color: rgb(63, 161, 63);
                        }
                    }
                }

                &:hover {
                    transform: scale(1.04);
                }
            }

            & .popular {
                transform: scale(1.03);

                & .preco {
                    padding-top: 3rem;

                    & .popular {
                        position: fixed;
                        top: -1rem;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: red;
                        z-index: 1000;
                        padding: 0.5rem 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        border-radius: 2rem;
                    }
                }
            }
        }

        & .duvidas {
            font-size: 1.7rem;
        }

        & .btn-falar {
            background-color: rgb(82, 213, 82);
            border-radius: 1rem;
            padding: 1.5rem 6rem;
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 1.8rem;

            &:hover {
                transform: scale(1.03);
                background-color: rgb(63, 161, 63);
            }
        }

    }
}

/* Vantagens */

#vantagens {
    background-color: var(--branco);

    & .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        & .container-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            & article {
                background-color: white;
                border-radius: 1rem;
                width: 100%;
                padding: 2rem;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                & i {
                    background-color: var(--azul-claro);
                    padding: 1rem;
                    border-radius: 1rem;
                    color: var(--fonte-branco);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5rem;
                    height: 5rem;
                    font-size: 2.5rem;
                }

                & h3 {
                    font-size: 1.8rem;
                }

                & p {
                    font-size: 1.5rem;
                }
            }

            & .grid3 {
                grid-column: span 3;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                background-color: rgb(42, 67, 169);
                color: var(--fonte-branco);

                & h3 {
                    font-size: 1.8rem;
                }

                & p {
                    font-size: 1.5rem;
                    width: 50%;
                    text-align: center;
                }

                & a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.5rem;
                    background-color: var(--branco);
                    padding: 1rem;
                    border-radius: 1rem;
                }
            }
        }
    }
}